# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
*.egg

# PyInstaller build artifacts
build/
dist/
*.spec

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.suo
*.user

# Windows
desktop.ini
Thumbs.db
$RECYCLE.BIN/

# Logs
*.log

# OS
.DS_Store
